*.tex
*.tex.html
class_*.pdf
*.aux
*.log
*.out
*dvi
assignment*.pdf
class_*.tex
*.eps
class_*.R
practice.R
assignment2.R
.Rhistory
sample.R
sample.Rnw
explain.R
no_weave_introduction.R
*.ps
buja-pca.tex
*.R
assignment_linguistics.tex
auto
*.nav
*.snm
*.toc
Download
neville/data.rda
neville/data.txt.gz
sad
